{% extends 'default_frame.twig' %}

{% set body_class = 'seller_entry' %}

{% block main %}
    <div class="kc-register">
        <div class="kc-page-header">
            <h1>{{ 'front.seller.entry.title'|trans }}</h1>
        </div>
        <div class="kc-offset1-grid">
            <div class="kc-offset1-cell">
                <form method="post" action="{{ url('seller_entry') }}" novalidate class="h-ar">
                    <span class="p-country-name" style="display: none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <div class="kc-bordered-defs">
                        <dl>
                            <dt>{{ form_label(form.name, 'common.name', { 'label_attr': { 'class': 'kc-label' }}) }}</dt>
                            <dd>
                                <div class="kc-half-input{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                    {{ form_widget(form.name.name01, {'attr': { 'placeholder': 'common.last_name' }}) }}
                                    {{ form_widget(form.name.name02, {'attr': { 'placeholder': 'common.first_name' }}) }}
                                    {{ form_errors(form.name.name01) }}
                                    {{ form_errors(form.name.name02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.kana, 'common.kana', { 'label_attr': { 'class': 'kc-label' }}) }}</dt>
                            <dd>
                                <div class="kc-half-input"{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}>
                                    {{ form_widget(form.kana.kana01, {'attr': {'placeholder': 'common.last_kana'}}) }}
                                    {{ form_widget(form.kana.kana02, {'attr': {'placeholder': 'common.first_kana'}}) }}
                                    {{ form_errors(form.kana.kana01) }}
                                    {{ form_errors(form.kana.kana02) }}
                                </div>

                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.company_name, 'common.company_name', { 'label_attr': { class: 'kc-label' } }) }}</dt>
                            <dd>
                                <div class="kc-half-input{{ has_errors(form.company_name) ? ' error' }}">
                                    {{ form_widget(form.company_name) }}
                                    {{ form_errors(form.company_name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.company_url, 'common.company_url', { 'label_attr': { class: 'kc-label' } }) }}</dt>
                            <dd>
                                <div class="{{ has_errors(form.company_url) ? 'error' }}">
                                    {{ form_widget(form.company_url, { 'attr': { 'placeholder': 'common.company_url' } }) }}
                                    {{ form_errors(form.company_url) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.phone_number, 'common.phone_number', { 'label_attr': { class: 'kc-label' } }) }}</dt>
                            <dd>
                                <div class="{{ has_errors(form.phone_number) ? 'error' }}">
                                    {{ form_widget(form.phone_number, { 'attr': { 'placeholder': 'common.phone_number' } }) }}
                                    {{ form_errors(form.phone_number) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.address, 'common.address', { 'label_attr': { class: 'kc-label' } }) }}</dt>
                            <dd>
                                <div class="{{ has_errors(form.postal_code) ? ' error' }}">
                                    <span>{{ 'common.postal_symbol'|trans }}</span>
                                    {{ form_widget(form.postal_code) }}
                                    {{ form_errors(form.postal_code) }}
                                </div>

                                <div class="kc-select{{ has_errors(form.address.pref) ? ' error' }}">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>

                                <div class="kc-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                    {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' } }) }}
                                </div>

                                <div class="kc-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                    {{ form_widget(form.address.addr02, { 'attr': { 'placeholder': 'common.address_sample_02' } }) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'common.mail_address', { 'label_attr': { 'class': 'kc-label' } }) }}
                            </dt>
                            <dd>
                                <div class="kc-input{{ has_errors(form.email.first) ? ' error' }}">
                                    {{ form_widget(form.email.first, { 'attr': { 'placeholder': 'common.mail_address_sample' } }) }}
                                    {{ form_errors(form.email.first) }}
                                </div>
                                <div class="kc-input{{ has_errors(form.email.second) ? ' error' }}">
                                    {{ form_widget(form.email.second, { 'attr': { 'placeholder': 'common.repeated_confirm' } }) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>




    </div>

{% endblock %}